<head>
    <title>View friends list</title>
</head>

<h1>Friends' List: </h1>

<form method="post" action="{{ url_for('friend_handler') }}">
    <label for="friends">View a friend's profile:</label>
    <select name="friends">
        {% for row in data %}
                <option>{{ row }}</option>
        {% endfor %}
    </select>
    <input type="submit" name="cmd" value="View"/>
</form>

</form>
<table>
    <thead>
        <tr>
            <th>Friends</th>
        </tr>
    </thead>
  
    <tbody>
        {% for row in data %}
            <tr>
                <td>{{ row }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href='/'>Home</a>

