<!doctype html>


<title>Friend's Profile</title>
{% if name %}
  <h1>{{ name }}'s Profile:
  </h1>
{% endif %}

{% if photos %}
    <ul>
    {% for photo in photos %}

        <li>{{photo[2]}}<br>
          <form method="post" action="{{ url_for('friendProfilePicture_handler') }}" style="display: inline;"> <input type="hidden" name="hidden"  value="{{ photo[1] }}"  style="display: inline;"/>
            <button type="submit" value="hidden">
                <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}' alt="buttonpng" width = "110" height = "110"/>
            </button>
          </form>
    {% endfor %}
    </ul>
{% endif %}



<ul>
<li><a href='/activity'>Activity Leaderboard</a> </li>
<li><a href='/logout'>Logout</a></li>
<li><a href='/'>Home</a></li>
</ul>
