<head>
    <title>Individual Picture</title>
</head>



<h2>{% if name %} {{ name }} {% endif %}'s caption: {{photo[2]}}</h2>
    <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}' alt= "{{photo[2]}} picture" width = 400vh height = 300vh/><br>
    <br>
    <h3><b>Tags:</b></h3>
    {% if not tags %}
        <p>No tags yet!</p>
    {% endif %}

    {% if tags %}
        {% for tag in tags %}
            {{ tag }} &emsp;
        {% endfor %}
    {% endif %}

<tbody>   
    <br>
    <h3><b>Comments Section:</b></h3>
        <form method="post" action="{{ url_for('insert_comment') }}">
            <input type="hidden" name="hidden"  value="{{ photo[1] }}" />
            <input type="text" name="comment" required="true" placeholder="Add a comment..."/>
            <input type="submit" value="Submit"/>
        </form>
        {% if err_message %}
            <p style="color:red">{{ err_message }}</p>
        {% endif %}
        <br>
          {% for row in comment %}
            <tr>
                <td><b>{{ comment[row] }} : </b>  {{ row }}</td> <br>
            </tr>
        {% endfor %} 
</tbody> <br>

<a href='/'>Home</a>