<head>
    <title>{{album_name}}</title>
</head>



{% if photos %}
<h2>Here are your photos</h2>
    <ul>
    {% for photo in photos %}
        <li>{{photo[2]}}<br>
            <form method="post" action="{{ url_for('albumPicture_handler') }}" style="display: inline;"> <input type="hidden" name="hidden"  value="{{ photo[1] }}"  style="display: inline;"/>
                <button type="submit" value="hidden">
                    <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}' alt="buttonpng" width = "110" height = "110"/>
                </button>
            </form>
        </li>
    {% endfor %}
    </ul>
{% endif %}

<a href='/'>Home</a>